@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.433rem;
}

main header {
  padding: 0;
  margin: 0;
}

main h1 {
  margin-bottom: 0.25em;
  margin-top: 0;
}

main h3 {
  margin-bottom: 0;
}

main h3 {
  font-size: 1.25em;
}
