@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.686rem;
}

main h1,
main h3 {
  margin-bottom: 0;
}

main h3 {
  font-size: 1.25em;
}
